<div #dependencyGraph class="graph"></div>

<div class="legend">
    <div class="legend-item">
        <span class="legend-item-indicator legend-warning"></span>
        <span class="legend-item-indicator legend-error"></span>
        <span>Outdated</span>
    </div>
    <div class="legend-item">
        <span class="legend-item-indicator legend-warning-deploy"></span>
        <span class="legend-item-indicator legend-error-deploy"></span>
        <span>Not deployed</span>
    </div>
    <div class="legend-item">
        <span class="legend-item-indicator legend-service"></span>
        <span>Target service</span>
    </div>
    <div class="legend-item">
        <span class="legend-item-indicator legend-other"></span>
        <span>Valid</span>
    </div>
</div>
