<div class="container">
    <ng-container *ngIf="status === STATUS_MISSING_DEPENDENCIES">
        <h3>
            <dt-icon class="status-icon status-error" name="deploy"></dt-icon>
            <span i18n>Missing dependencies for <b>{{service}}</b></span>
        </h3>
        <span i18n>
            The dependencies for <b>{{service}}</b>&nbsp;<code>{{tag}}</code> could not be fetched for
            <b>{{testedStage}}</b>.
        </span>
        <br>
        <span i18n>
            Please make sure that Dynatrace Monitoring is configured correctly in your keptn installation.
        </span>
    </ng-container>
    <ng-container *ngIf="status === STATUS_TAG_DEPLOYED || status === STATUS_NEWER_TAG_DEPLOYED">
        <h3>
            <dt-icon class="status-icon status-error" name="deploy"></dt-icon>
            <span i18n><b>{{service}}</b> is already deployed</span>
        </h3>
        <span *ngIf="status === STATUS_TAG_DEPLOYED" i18n>
            The analysis is skipped for <b>{{service}}</b>&nbsp;<code>{{deployedTag}}</code> because the
            same tag is already deployed in <b>{{targetStage}}</b>.
        </span>
        <span *ngIf="status === STATUS_NEWER_TAG_DEPLOYED">
            The analysis is skipped for <b>{{service}}</b>&nbsp;<code>{{tag}}</code> because a newer tag
            <code>{{deployedTag}}</code> is already deployed in <b>{{targetStage}}</b>.
        </span>
    </ng-container>
    <ng-container *ngIf="status === STATUS_CONFIGURATION_NOT_EXISTING">
        <h3>
            <dt-icon class="status-icon status-error" name="deploy"></dt-icon>
            <span i18n><b>{{service}}</b> release not found</span>
        </h3>
        <span i18n>
            No evaluated release for <b>{{service}}</b>&nbsp;<code>{{tag}}</code> and <b>its dependencies</b> was found in
            <b>{{testedStage}}</b>.
        </span>
    </ng-container>
    <ng-container *ngIf="status === STATUS_NOT_TESTED">
        <h3>
            <dt-icon class="status-icon status-error" name="deploy"></dt-icon>
            <span i18n><b>{{service}}</b> dependency evaluation was not successful</span>
        </h3>
        <ktb-failed-services-view [evaluationResult]="problematicServices">
        </ktb-failed-services-view>
    </ng-container>
    <ng-container *ngIf="status === STATUS_MISMATCH && shouldNotUpdate">
        <h3>
            <dt-icon class="status-icon status-error" name="deploy"></dt-icon>
            <span i18n><b>{{service}}</b> is not safe to deploy</span>
        </h3>
        <span i18n>
            Parent dependencies for <b>{{service}}</b>&nbsp;<code>{{tag}}</code> are outdated or not
            deployed in <b>{{targetStage}}</b>.
            They should be updated before deploying <b>{{service}}</b>&nbsp;<code>{{tag}}</code> to
            <b>{{targetStage}}</b>.
        </span>
    </ng-container>
    <ng-container *ngIf="status === STATUS_MISMATCH && !shouldNotUpdate">
        <h3>
            <dt-icon class="status-icon status-warning" name="deploy"></dt-icon>
            <span i18n><b>{{service}}</b> is safe to deploy</span>
        </h3>
        <span i18n>
            Child dependencies for <b>{{service}}</b>&nbsp;<code>{{tag}}</code> are outdated or not deployed
            in <b>{{targetStage}}</b>.
            They can be updated after deploying <b>{{service}}</b>&nbsp;<code>{{tag}}</code> to <b>{{targetStage}}</b>.
        </span>
    </ng-container>
    <ng-container *ngIf="status === STATUS_OK">
        <h3>
            <dt-icon class="status-icon status-success" name="deploy"></dt-icon>
            <span i18n><b>{{service}}</b> is safe to deploy</span>
        </h3>
        <span i18n>All dependencies are up-to-date.</span>
        <br>
    </ng-container>
</div>