<div class="container">
    <ng-container *ngIf="status === STATUS_MISSING_DEPENDENCIES">
        <h3>
            <dt-icon class="status-icon status-error" name="deploy"></dt-icon>
            <span i18n>Missing dependencies for <b>{{service}}</b></span>
        </h3>
        <span i18n>
            The dependencies for <b>{{service}}</b>&nbsp;<code>{{tag}}</code> could not be fetched for
            <b>{{testedStage}}</b>.
        </span>
        <br>
        <span i18n>
            Please make sure that Dynatrace Monitoring is configured correctly in your keptn installation.
        </span>
    </ng-container>
    <ng-container *ngIf="status === STATUS_TAG_DEPLOYED || status === STATUS_NEWER_TAG_DEPLOYED">
        <h3>
            <dt-icon class="status-icon status-error" name="deploy"></dt-icon>
            <span i18n><b>{{service}}</b>&nbsp;<code>{{deployedTag}}</code> is already deployed</span>
        </h3>
        <span *ngIf="status === STATUS_TAG_DEPLOYED" i18n>
            The analysis is skipped for <b>{{service}}</b>&nbsp;<code>{{deployedTag}}</code> because this service is already deployed in <b>{{targetStage}}</b>.
        </span>
        <span *ngIf="status === STATUS_NEWER_TAG_DEPLOYED">
            The analysis is skipped for <b>{{service}}</b>&nbsp;<code>{{tag}}</code> because a newer tag
            <code>{{deployedTag}}</code> is already deployed in <b>{{targetStage}}</b>.
        </span>
    </ng-container>
    <ng-container *ngIf="status === STATUS_CONFIGURATION_NOT_EXISTING">
        <h3>
            <dt-icon class="status-icon status-error" name="deploy"></dt-icon>
            <span i18n>No release found for <b>{{service}}</b>&nbsp;<code>{{deployedTag}}</code></span>
        </h3>
        <span i18n>
            No evaluated release for <b>{{service}}</b>&nbsp;<code>{{tag}}</code> and <b>its dependencies</b> was found in
            <b>{{testedStage}}</b>.
        </span>
    </ng-container>
    <ng-container *ngIf="notTested">
        <h3>
            <dt-icon class="status-icon status-error" name="deploy"></dt-icon>
            <span i18n><b>{{service}}</b>&nbsp;<code>{{tag}}</code> is not safe to deploy</span>
        </h3>
        <span i18n>
            <b>{{service}}</b>&nbsp;<code>{{tag}}</code> is not part of a successfully tested configuration in <b>{{testedStage}}</b>.
            <br>
            The following services did not pass their own quality gate. Fix these issues and re-run the analysis.
        </span>
    </ng-container>
    <ng-container *ngIf="notSafeToDeploy">
        <h3>
            <dt-icon class="status-icon status-error" name="deploy"></dt-icon>
            <span i18n><b>{{service}}</b>&nbsp;<code>{{tag}}</code> is not safe to deploy</span>
        </h3>
        <span i18n>
            Deploy services in the following order to <b>{{targetStage}}</b> to achieve a tested state:
        </span>
    </ng-container>
    <ng-container *ngIf="safeToDeployWithWarnings">
        <h3>
            <dt-icon class="status-icon status-warning" name="deploy"></dt-icon>
            <span i18n><b>{{service}}</b>&nbsp;<code>{{tag}}</code> is safe to deploy</span>
        </h3>
        <span i18n>
            Deploy services in the following order to <b>{{targetStage}}</b> to achieve a tested state:
        </span>
    </ng-container>
    <ng-container *ngIf="safeToDeploy">
        <h3>
            <dt-icon class="status-icon status-success" name="deploy"></dt-icon>
            <span i18n><b>{{service}}</b>&nbsp;<code>{{tag}}</code> is safe to deploy</span>
        </h3>
        <span i18n>All its dependencies are up-to-date.</span>
        <br>
    </ng-container>
</div>