@import '~@dynatrace/barista-components/style/main';

div {
    padding: 0;
    margin: 0;
}

.status-icon {
    position: relative;
    top: 5px;
    width: 20px;
}

.status-error {
    fill: $error-color;
}

.status-warning {
    fill: $warning-color;
}

.status-ok {
    fill: $cta-color;
}
